---
---

<footer class="flex h-28 flex-col items-center justify-center gap-y-6">
  <a href="/"><h2 class="text-xl font-bold">
    <span
      class="bg-gradient-to-b from-[#4f39fa] to-[#da62c4] bg-clip-text text-transparent"
      >Power Siero</span
    > 2024
  </h2>
</a>
</footer>
